In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('D:\Final submission\PowerBI\Onino-Analysis-dashboard\Datset\Onion Prices 2020.csv')

In [3]:
df.head()

,state,district,market,commodity,variety,arrival_date,min_price,max_price,modal_price
0,Andhra Pradesh,Kurnool,Kurnool,Onion,Local,03/01/2020,1350,4390,3100.0
1,Andhra Pradesh,Kurnool,Kurnool,Onion,Local,04/01/2020,1390,4400,3200.0
2,Andhra Pradesh,Kurnool,Kurnool,Onion,Local,06/01/2020,1460,5150,4310.0
3,Andhra Pradesh,Kurnool,Kurnool,Onion,Local,07/01/2020,2010,5200,4200.0
4,Andhra Pradesh,Kurnool,Kurnool,Onion,Local,10/01/2020,1320,4050,3300.0

In [4]:
# Check the basic information 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 107295 entries, 0 to 107294
Data columns (total 9 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   state         107295 non-null  object
 1   district      107295 non-null  object
 2   market        107295 non-null  object
 3   commodity     107295 non-null  object
 4   variety       107295 non-null  object
 5   arrival_date  107295 non-null  object
 6   min_price     107295 non-null  int64
 7   max_price     107295 non-null  int64
 8   modal_price   107295 non-null  float64
dtypes: float64(1), int64(2), object(6)
memory usage: 7.4+ MB

In [7]:
df['arrival_date'].value_counts()

16/03/2020    554
18/03/2020    550
11/02/2020    546
17/03/2020    541
07/01/2020    538
             ...
02/08/2020    187
29/03/2020    182
25/03/2020    181
01/08/2020    180
22/03/2020     67
Name: arrival_date, Length: 260, dtype: int64

In [8]:
df.isnull().sum()

state           0
district        0
market          0
commodity       0
variety         0
arrival_date    0
min_price       0
max_price       0
modal_price     0
dtype: int64